body {
    background-color: #15803d;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.info{
    text-align: start;
}
.botoes{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.botoes a {
    padding: 10px;
    background-color: #15803d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}


