{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Criar Conta</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/collection/components/icon/icon.min.css">
    <link rel="stylesheet" href="{% static 'cadastro.css' %}">
</head>
<body>

  <div class="container">
    <h1>Criar Conta</h1>

    <div class="input-container">
      <i class="icon ion-md-person"></i>
      <input type="text" id="nome" placeholder="Nome completo">
    </div>

    <div class="input-container">
      <i class="icon ion-md-mail"></i>
      <input type="email" id="email" placeholder="E-mail">
    </div>

    <div class="input-container">
      <i class="icon ion-md-lock"></i>
      <input type="password" id="senha" placeholder="Senha">
    </div>

    <div class="input-container">
      <i class="icon ion-md-lock"></i>
      <input type="password" id="confirmarSenha" placeholder="Confirmar senha">
    </div>

    <button>
      <i class="icon ion-md-person-add"></i>
      Cadastrar
    </button>

    <div class="login-link">
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'index' %}">Pagina Inicial</a>
    </div>
  </div>

</body>
</html>
