{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <title>Entrar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/collection/components/icon/icon.min.css">
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>

  <div class="container">
    <h1>Entrar</h1>
    <p>Acesse sua conta</p>

    <div class="input-container">
      <i class="icon ion-md-mail"></i>
      <input type="email" id="email" placeholder="Email">
    </div>

    <div class="input-container">
      <i class="icon ion-md-lock"></i>
      <input type="password" id="senha" placeholder="Senha">
    </div>

    <button>
      <i class="icon ion-md-log-in"></i>
      Entrar
    </button>

    <div class="register-link">
      <a href="{% url 'cadastro' %}">Cadastrar</a>
      <a href="{% url 'index' %}">Pagina Inicial</a>
    </div>
  </div>

</body>

</html>