{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <title>Entrar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/collection/components/icon/icon.min.css">
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>

  <div class="container">
    <h1>Entrar</h1>
    <p>Acesse sua conta</p>

    {% if mensagem %}
    <p style="color: white; text-align: center;">{{ mensagem }}</p>
    {% endif %}

    <form method="POST">
      {% csrf_token %}

      <div class="input-container">
        <input type="email" name="email" placeholder="Email" required>
      </div>

      <div class="input-container">
        <input type="password" name="password" placeholder="Senha" required>
      </div>

      <button type="submit">Entrar</button>

    </form>

    <div class="register-link">
      <a href="{% url 'cadastro' %}">Cadastrar</a>
      <a href="{% url 'index' %}">Pagina Inicial</a>
    </div>
  </div>

</body>

</html>